<!DOCTYPE html>
<html>
<head>
    <title>Angular Kafası - Crud İşlemleri</title>
    <meta name="author" content="Emrah YURTTUTAN" />
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/app.js"></script>
</head>
<body ng-app="crudApp">
    <div class="container" ng-controller="product">

        <div class="alert alert-info" ng-if="msj">{{msj}}</div>
        <h2>Ürün Ekle</h2>
        <div> 
            <form name="form" ng-submit="save();"> 
              <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><label>Ürün Adı</label> &nbsp;<input type="text" ng-model="name"  ng-value="{{name}}" /></td>
                            <td><label>Ürün Fiyatı</label> &nbsp;<input type="number" ng-model="price"  ng-value="{{price}}"/></td>
                            <td>
                                <input type="hidden" ng-model="id"  name="id" ng-value="{{id}}" />
                                <input type="hidden" ng-model="islem"  ng-value="{{islem}}"  name="islem"/>
                                <button type="submit">Kaydet</button>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div><h2 class="pull-left">Ürünler Listesi </h2><input type="text" ng-model="search" placeholder="Ürün Ara" class="pull-right" style="margin-top:10px;" /></div>
        <div >
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><a ng-click="sirala('Id')" ng-dblclick="sirala('+Id')">Ürün  Id</a></th>
                        <th><a ng-click="sirala('Name')" ng-dblclick="sirala('+Name')">Ürün  Adı</a></th>
                        <th><a ng-click="sirala('Price')" ng-dblclick="sirala('+Price')">Fiyat</a>  </th>
                        <th> İşlem </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="products" ng-repeat="product in products | orderBy:orderBy | filter:search">
                        <td>{{product.Id}}</td>
                        <td>{{product.Name}}</td>
                        <td>{{product.Price}} TL</td>
                        <td>
                            <button class="btn btn-warning" ng-click="update(product.Id)" title="Düzenle"><span class="glyphicon glyphicon-edit"></span></button>
                            &nbsp;
                            <button class="btn btn-danger" ng-click="sil(product.Id)"  title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                    <tr ng-if="!products"><td colspan="4">Hiç Ürün Yok</td></tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
